<!-- everyorders.html -->
{% extends "gas/admindashboard.html" %}

{% block content %}
<div class="container">
    <br>
    <h2>View All Orders</h2>
    <div class="row">
        <div class="col-md-12">
            <!-- Order Date Range Form -->
            <form method="GET" class="form-inline mb-2">
                <input type="date" name="start_date" class="form-control mr-2" placeholder="Start Date">
                <input type="date" name="end_date" class="form-control mr-2" placeholder="End Date">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            
            <!-- Orders Table -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Order Status</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Payment Mode</th>
                        <th>Payment Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.User }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.order_status }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.delivery_date }}</td>
                        <td>{{ order.pay_mode }}</td>
                        <td>{{ order.pay_status }}</td>
                        <td>
                        {% if order.order_status == "Delivered Successfully"  %}
                            
                        {% else %}
                            <button><a href="{% url 'editorders' order.id %}">Edit</a></button>
                        {% endif %}
                        </td>
                        <td><button><a href="{% url 'deleteorder' order.id %}">Delete</a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
