{% extends "gas/booking.html" %}

{% block content %}

{% if error == "no" %}
     <script>
	   alert('Paid Successfully');
       window.location=("{% url 'view_orders' %}");
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong!');
        window.location=("{% url 'booking' %}");
     </script>
{% endif %}
    <div class="container">
        <br>
        <h2>Payment</h2>
        <p>Your booking has been successful. Please proceed with the payment.</p>
        <!-- Add your payment form or gateway integration here -->
        <form method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label for="paymentAmount">Payment Amount: </label>
            <input type="text" class="form-control" id="paymentAmount" name="paymentAmount" readonly value="{{ orders.amount }}">
        </div>
        <div class="form-group">
            <label for="paymentAmount">Enter UPI id: </label>
            <input type="text" class="form-control" id="upiid" name="upiid" required>
        </div>
        <button type="submit" class="btn btn-primary">Make Payment</button>
        </form>
        <br>
    </div>
    {% endblock %}
