
{% extends "gas/admindashboard.html" %}


{% block content %}
{% if error == "no" %}
     <script>
	   alert('Account Created Successfully');
       window.location=("{% url 'customer-details' %}");
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}



    <div class="container mt-5">
        <h1 class="text-center">Create New Customer</h1>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <!-- First Name -->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <!-- Username -->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <!-- Address -->
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>
            <!-- Mobile -->
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile" name="mobile" required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Register"><br><br><br><br>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}
